.hero {
    background-image: url(/assets/images/hero2.jpg);
    width: 100%;
    background-size: cover;
    background-position: 0 40%;
    height: 60vh;
}

.heroHeading {
    width: 40%;
    padding: 2rem 0;
    background-color: hsla(264, 83%, 0%, 0.5);
    margin: 0 auto;
    position: relative;
    top: 42%;
}