<div class="container-fluid">
    <nav class="navBar d-flex justify-content-between fixed-top p-3">

        <div>
            <span class="navbar-brand mb-0 text-light text-uppercase me-4 " routerLink="/">Unique.</span>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" (click)="navToggle()">
                <i class="fa fa-bars"></i>
            </a>

            <!-- Navigation Links hidden by default -->
            <div id="navLinks">

                <div><a class="me-4 fs-5" routerLink="cars">Cars</a></div>
                <div><a class="fs-5" routerLink="contact">Contact</a></div>
            </div>
        </div>


        <!-- Donation -->

        <!-- <ng-template [ngIf]="donation > 190" [ngIfElse]="none">
            <span class="text-light">You are a VIP</span>
        </ng-template>
        <ng-template #none>
            <span class="text-light">donate more!</span>
        </ng-template>


        <div>
            <button class="btn btn-outline-success" type="submit" (click)="donationCount()">Donate 10€</button>
            <span class="text-light">You donated: {{donation}} €</span>
        </div> -->

    </nav>
</div>