<div class="container-fluid">
    <nav class="navbar bg-light d-flex justify-content-between">
        <div>
            <span class="navbar-brand mb-0 h1">Car Rental</span>
            <a class="me-4" href="">Home</a>
            <a href="">Contact</a>
        </div>

        <ng-template [ngIf]="donation > 190" [ngIfElse]="none">
            <span>You are a VIP</span>
        </ng-template>
        <ng-template #none>
            <span>donate more!</span>
        </ng-template>


        <div>
            <button class="btn btn-outline-success" type="submit" (click)="donationCount()">Donate 10€</button>
            <span>You donated: {{donation}} €</span>
        </div>

    </nav>
</div>